@import "bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #404040;
}

p {
    color: #686767;
    font-size: 20px;
    margin-top: 20px;
}

#tryAgainButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
  }
  
  #tryAgainButton:hover {
    background-color: darkblue;
    /*transform: scale(1.1);*/
  }

  #tryAgainButton:active {
    transform: scale(0.9);
  }
